<?xml version="1.0"?>

<launch>
	<arg name="sim" default="false" />

	<include file="$(find freenect_launch)/launch/freenect.launch" unless="$(arg sim)"/>
	<node name="kinect_start" pkg="marker_detection" type="kinect_start" />


</launch>


<!--
	launch: Root element of the launch file
	node: Each <node> tag specifies a node to be launched
	name: Name of the node (free to choose)
	pkg: Package containing the node
	type: Type of the node, there must be a corresponding executable with the same name
	output: Specifies where to output log message (screen: console, log: log file)

-->
